<div class="modal">
  <h2 class="neon-font" mat-dialog-title>Terms &amp; Conditions</h2>
  <mat-dialog-content class="mat-typography" MatDialogConfig>
    <p>The following Terms and Conditions apply to www.jukeboxcomprehension.com and cover all use of the Site. By accessing and using this Site, you confirm that you have read the Term &amp; Conditions in their entirety and accept them in full.</p>

    <p>The Term and Conditions are accessible from the Site at all times.</p>
    <h3 class="neon-font">  1.	Privacy </h3> 
    <p> Jukebox Comprehension Ltd is committed to protecting your privacy online and will never store or share your personal information with another party. We do not retain credit card details nor do we share any customer details (financial or otherwise) with any third parties. </p>

    <h3 class="neon-font">  2.	Intellectual Property Rights </h3>
    <p>  2.1.	All original materials are the copyright of Jukebox Comprehension Ltd.</p>
    <p>  2.2.	By downloading any resources from this Site, you agree to the Term and Conditions as stated below.</p> 
    <p>  2.3	Wider use and distribution of original material, including lesson plans and other such works for use outside the classroom setting, namely for conferences and training purposes by individuals or institutions is strictly prohibited without prior consent.</p>
    <p>  2.4	Permission must be obtained before reproducing, publishing or sharing any Original Material for use outside of the classroom.</p>
    <p>  2.5. For information on obtaining permission to reproduce or translate Jukebox Comprehension Ltd copyright material, please contact us directly via our “Contact Us” page.</p>
    <p>  2.6.	Original works and ideas must be attributed to its source and writer should prior consent be permitted. </p>
    <p>  2.7. The Site, its content as well as all other material including the presentation of the Site (graphics, characters, structure, mapping, titles, photographs, videos, animation, software, music, sounds, banners, advertisements, logos, etc.), hereafter referred to as “Original Material”, are protected by copyright and associated laws. </p>
    <p>  2.8. In virtue of the aforementioned laws it is strictly forbidden without prior authorization from Jukebox Comprehension Ltd to: (i) reproduce, (ii) adapt, (iii) use, (iv) translate and (v) make available to the public any Original Material. As a consequence the User may not (i) scan, adapt, digitalize or modify, by himself or by a third party, the Original Material (ii) reproduce, by himself or by a third party, the Original Material, in whole or in part, on any type of support (notably books, newspapers, prospectus, advertising leaflets, postcards, CD ROMs or any other electronic supports) in any format (ordinary, deluxe, mass-market, soft back, hardback, in any dimension, in limited edition or not, on disk, cassette, etc.) or (iii) broadcast or authorize the broadcast to the public the Original Material including via audio-visual broadcast or via Internet, etc., without being liable for prosecution for infringement under laws and international conventions.</p>
    <p>  2.9. ???</p>

    <h3 class="neon-font"> 3. Responsibility </h3>
    <p>  3.1. www.jukeboxcomprehension.com cannot guarantee (i) that the Site will satisfy the specific expectations and demands of the User and (ii) that the Site will continue uninterrupted or free from errors. As such, the User will not hold www.jukeboxcomprehension.com to obligation regarding the performance of the Site.</p>
    <p>  3.2. In no case may www.jukebox comprehension.com be held responsible for any direct, indirect or accidental damage resulting from the incorrect use of the Site, or all other software or any connection to periphery hardware.</p>
    <p>  3.3. The User or Visitor commits and consents to (i) not disturb or interrupt networks connected to the Site (ii) conform to all rules, login procedures and conduct required on the Internet (iii) not to try to gain unauthorized access to other IT systems and (iv) not to disturb the use and functioning of the Site or of all other similar services.</p>

    <h3 class="neon-font">  4. Autonomy </h3>
    <p>  4.1. If one of the conditions of the present Terms &amp; Conditions is declared null and void or inapplicable, the other conditions remain valid. </p>
    <p>  4.2. No party may be presumed to have renounced one or more of the present Terms &amp; Conditions unless the renunciation has been communicated in writing (electronic or not). </p>

    <h3 class="neon-font">Disclaimer</h3>
    <p>Jukebox Comprehension Ltd makes no warranties or representations of any kind concerning the accuracy or suitability of the information contained on this web site for any purpose. All such information is provided "as is" and with specific disclaimer of any warranties of merchantability, fitness for purpose, title and/or non-infringement. Jukebox Comprehension Ltd makes no warranties or representations of any kind that the services provided by this web site will be uninterrupted , error-free or that the web site or the server that hosts the web site are free from viruses or other forms of harmful computer code.
      In no event shall Jukebox Comprehension Ltd, its employees or agents be liable for any direct, indirect or consequential damages resulting from the use of this web site. This exclusion and limitation only applies to the extent permitted by law and is without prejudice to any express provisions to the contrary in any written licence or subscription agreement from Jukebox Comprehension Ltd in respect of the use of any online service provided via this web site.
    </p>
    <h3 class="neon-font">Business Details:</h3>
    <p> If you need to contact us directly then please email, call or write to us at the following address: </p>
    <h4><span class="neon-font">Post:</span> </h4>
    <p>Jukebox Comprehension Ltd </p>
    <p>74 Manchester Street </p>
    <p>Manchester</p>
    <p>Heywood </p>
    <p>Ol10 1DL</p>
    <h4><span class="neon-font">E-mail:</span> jukeboxcomprehension@gmail.com</h4>
    <h4><span class="neon-font">Telephone:</span> 07724 042 186</h4>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="custom-btn btn-5" mat-dialog-close>close</button>
  </mat-dialog-actions>
</div>
