<div class="modal">
  <h2 class="neon-font" mat-dialog-title>Contact Details</h2>
  <mat-dialog-content class="mat-typography">
    <h3 class="neon-font">Business Contact Details:</h3>
    <p> If you need to contact us directly then please email, call or write to us at the following address: </p>
    <h4><span class="neon-font">Post:</span> </h4>
    <p>Jukebox Comprehension Ltd </p>
    <p>74 Manchester Street </p>
    <p>Manchester</p>
    <p>Heywood </p>
    <p>Ol10 1DL</p>
    <h4><span class="neon-font">E-mail:</span> jukeboxcomprehension@gmail.com</h4>
    <h4><span class="neon-font">Telephone:</span> 07724 042 186</h4>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="custom-btn btn-5" mat-dialog-close>close</button>
  </mat-dialog-actions>
</div>
