.container {
  background-image: url("../assets/blue-bk.jpg");
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.2fr 2.5fr 0.2fr;
  gap: 1em 0px;
  grid-template-areas:
    "menu header ."
    ". content ."
    ". footer .";
  justify-content: start;
  color: lime;
}
.menu {
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  grid-area: menu;
  color: lime;
  span {
    display: flex;
    padding-left: 5px;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
  }
  .mat-icon {
    transform: scale(2);
  }
}
.header {
  grid-area: header;
  text-align: center;
  color: lime;
  h1 {
    font-size: 2.5em;
  }

}
.content {
  background: #11ffee00 url("../assets/jukebox-bg.png") no-repeat center top;
  grid-area: content;
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  min-width: 1100px;
  height: 750px;
  min-height: 750px;
}
.footer {
  grid-area: footer;
  text-align: center;
  color: lime;
}
.sidenav-content {
  min-width: 400px;
  background-image: url("../assets/blue-bk.jpg");
  h2 {
    padding-left: 10px;
  }
}

a:link {
  text-decoration: none;
  color: lime;
}
a:visited {
  text-decoration: none;
  color: lime;
}
a:hover {
  text-decoration: underline;
  color: lime;
}
a:active {
  text-decoration: underline;
  color: lime;
}

::ng-deep.mat-dialog-container {
  background-color: black;
  padding: 5px;
  margin: 15px;
  border: 3px solid lime;
  outline:none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  /* create a BIG glow */
  box-shadow: 0px 0px 48px;
  -moz-box-shadow: 0px 0px 48px;
  -webkit-box-shadow: 0px 0px 48px;
  color: lime;
}
