
<mat-sidenav-container class="example-container">

  <mat-sidenav class="sidenav-content" #sidenav mode="side" [(opened)]="opened">
    <h2><a (click)="sidenav.toggle()" routerLink="/">home</a></h2>
    <h2><a routerLink="about">about</a></h2>
    <h2>Terms & Conditions</h2>
    <h2>Login / Sign up</h2>
  </mat-sidenav>

  <mat-sidenav-content class="container">
      <div class="menu">
        <span (click)="sidenav.toggle()">
          <mat-icon aria-hidden="false" aria-label="menu icon">menu</mat-icon>
        </span>
      </div>
      <div class="header">
        <h1>Jukebox Comprehension</h1>
      </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <p>&copy; 2021 Jukebox Comprehension</p>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
