<div class="modal">
  <h2 mat-dialog-title>About Jukebox Comprehensionr</h2>
  <mat-dialog-content class="mat-typography">
    <h3>description of the site and service</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie enim at turpis pharetra placerat. Morbi et
      consequat purus, a tempus nulla. Praesent pharetra iaculis arcu et suscipit. Fusce pretium nulla et nulla finibus
      accumsan. Curabitur congue sapien non volutpat interdum. Vestibulum sodales non odio a viverra. Vestibulum ornare
      vitae justo mollis sollicitudin. Duis ultrices vel orci non sagittis. Interdum et malesuada fames ac ante ipsum
      primis in faucibus. Praesent luctus quam tortor, ac interdum massa accumsan a. Donec a augue turpis. Nam venenatis
      dignissim mollis.</p>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="custom-btn btn-5" mat-dialog-close>close</button>
  </mat-dialog-actions>
</div>
