
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jukebox-web-primary: mat.define-palette(mat.$indigo-palette);
$jukebox-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jukebox-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$jukebox-web-theme: mat.define-light-theme((
  color: (
    primary: $jukebox-web-primary,
    accent: $jukebox-web-accent,
    warn: $jukebox-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($jukebox-web-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Clip;
  src: url(/assets/fonts/clip.regular.ttf);
}

$primary-colour: lime;

// Define Colour variables.
$orange: #fc7c00;
$yellow: #ffff36;
$blue: #40ffed;
$red: #F60109;
$pink: #FF00AA;
$green: #00FF00;
$white: #bababa;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

.neon-font {
  font-family: Clip, "Helvetica Neue", sans-serif;
}

.jb {
  position: relative;
  color: $primary-colour;
  .title {
    position: absolute;
    text-align: center;
    left: 357px;
    top: 95px;
    //border: 5px solid $primary-colour;
    min-width: 257px;
    min-height: 58px;
  }
  .title-msg {
    display: inline-block;
    padding-top: 14px;
    text-align: center;
    font-size: xx-large;
  }
  .main {
    position: absolute;
    left: 190px;
    top: 200px;
    //border: 5px solid $primary-colour;x
    min-width: 600px;
    max-width: 600px;;
    min-height: 400px;
    max-height: 400px;
  }
  .home {
    position: absolute;
    right: 90px;
    top: 100px;
    //border: 5px solid $primary-colour;
  }
  .button-one {
    position: absolute;
    left: 148px;
    top: 114px;
    //border: 5px solid $primary-colour;
    min-width: 160px;
    min-height: 55px;
  }
  .button-two {
    position: absolute;
    left: 670px;
    top: 114px;
    //border: 5px solid $primary-colour;
    min-width: 160px;
    min-height: 55px;
  }
  .label {
    position: absolute;
    left: 149px;
    top: 645px;
    //border: 5px solid $primary-colour;
    min-width: 671px;
    min-height: 75px;
  }
}

.center {
  text-align: center;
}

.custom-btn {
  width: 167px;
  height: 44px;
  color: $primary-colour;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Clip, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  outline: none;
  border: 1px solid #ba6;
}
.custom-btn:active{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.custom-btn-xl {
  width: 682px;
  height: 85px;
  color: $primary-colour;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Clip, "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  outline: none;
  border: 1px solid #ba6;
}
.custom-btn-xl:active{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

/* 5 */
.btn-5{
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-color: #7c7c7c;
  background: linear-gradient(180deg,#e6e6e6 0%,rgba(0, 0, 0, 0.25) 49%, rgba(38, 38, 38, 0.6) 51%,rgba(0, 0, 0, 0.25) 100%);
  border-radius: 20px;
}

.border-glow {
  padding: 5px;
  margin: 15px;
  border: 3px solid $primary-colour;
  outline:none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  /* create a BIG glow */
  box-shadow: 0px 0px 48px;
  -moz-box-shadow: 0px 0px 48px;
  -webkit-box-shadow: 0px 0px 48px;
  color: $primary-colour;
}

.backdropBackground {
  filter: blur(20px);
  background-color: #000000;
  opacity: 0.8 !important;
}
