<div class="jb">
  <div class="title">
    <span class="title-msg">Jukebox</span>
  </div>
  <div class="button-one">
    <button class="custom-btn btn-5" (click)="openDialog()">About</button>
  </div>
  <div class="button-two">
    <button class="custom-btn btn-5">Contact</button>
  </div>
  <div class="main center">
    <span class="main-msg">
      "Where music &amp; video <br/>
      improves the mind & <br/>
      nurtures the soul."
    </span>
  </div>
  <div class="label">
    <button class="custom-btn-xl btn-5" routerLink="catalogue">Browse Catalogue</button>
  </div>
</div>

